*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
}

a{
    text-decoration: none;
    color: white;
}

.img{
    background: url('images/logo.png') no-repeat center;
    background-size: cover;
    height: 100px;
    width: 120px;
    margin: 0 12px;
    padding: 0 12px;
}

.hey{
    display: flex;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 8% 0;
    align-items: center;
    justify-content: space-evenly;
}

#text{
    color: white;
    padding: 2%;
}


#image-internal{
    background: url("images/me.jpg") no-repeat center;
    filter: drop-shadow(20px 4px 6px rgba(0, 0, 0, 0.425));
    height: 320px;
    width: 320px;
    background-size: 70%;
    border-radius: 40%;
}



#logo{
    display: flex;
    align-items: center;

    /* border-radius: 50%; */
    
}

#ham{
    background: url('images/hamburger.png') no-repeat center;
    background-size: cover;
    height: 60px;
    width: 60px;
    filter: invert(1);
    display: none;

}
#cross{
    background: url('images/cross.png') no-repeat center;
    background-size: cover;
    height: 60px;
    width: 60px;
    filter: invert(1);
    display: none;

}

#nav{
    display: flex;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg, #414345, transparent); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: lightgray;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    margin-bottom: 20px;
    /* border: 2px solid red; */
}

#ul{
    display: flex;
    position: absolute;
    right: 10%;
    flex-wrap: wrap;

}
#ul >li{
    list-style: none;
    margin: 20px 12px;
    padding: 20px 12px;
}

h1{
    text-align: center;
    padding: 5% 0;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

#work{
    background: #ADD100;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7B920A, #364103);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7B920A, #48550a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
h1{
    color: white;
    font-size: 2rem;
}

.align{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 0;
}

#qa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    align-items: center;
}

#head{
    color: tan;
    text-align: center;
    margin: 0 0 1.2rem 0;
    padding: 0 0 2% 0;
}

#qa > p{
    color: tan;
    margin-bottom: 2%;

}

#exp{
    padding: 10px 0; 
    margin: 10px 0;
    font-size: 1.1rem;
    
    color: rgba(245, 245, 220, 0.719);
}
#exp > li{
    list-style: square;
    padding: 15px 0;
}

#notes-pic{
    height: 150px;
    width: 150px;
    background: url("images/check-list.png") no-repeat;
    background-size: cover;
    background-position: center;
}

#skills-section{
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}



#project-section{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#project, #skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}


.project, .skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* border: 2px solid sienna; */
    background-color: green;
    /* padding: 20px; */
    margin: 20px;
    width: 30vw;
    height: 40vh;
}

 .skill{
    width: 20vw;
} 

#skills-section > h1{
    color: white;
}

.skill-head, .project-head{
    width: 20vw;
    height: 40vh;
    position: absolute;
    z-index: 0;
    color: rgba(0, 0, 0, 0.733);
    background: #2b5876;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: all 2s ease-in-out;
}

.project-head{
    width: 30vw;
    border: 1 px solid gold;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.project-head:hover{
    transform: translateX(-30vw);
}

#project-head:hover{
    transform: translateX(30vw);
}

.skill-para, .project-para{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* border: 2px solid sienna; */
    color: white;
    background: linear-gradient(to bottom, rgb(55, 55, 160), rgb(0, 77, 102));
    
}

.skill-head:hover{
    transition: all 2s ease-in-out;
    transform: translateY(-260px);
}

.skill-para::after{
    content: '';
    position: absolute;
    transform: translateY(160px);
    z-index: 0;
}


#local-para, #analyzer-para, #bg-para, #web-para, #java-para, #py-para {
    padding: 3%;
    font-size: 1.2rem;
}

form{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

input{
    /* margin: 2%; */
    width: 100%;
    padding: 4%;
    width: 40vw;
    outline: none;
    border: none;
    background: none;
    /* border: 2px solid yellow; */
}

textarea{
    width: 100%;
    padding: 2%;
    margin: -4px 0;
    width: 40vw;
    outline: none;
    border: none;
    background: none;
    /* border: 2px solid yellow; */
}

input::placeholder, textarea::placeholder, input, textarea{
    color: black;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.enter{
    position: relative;
    bottom: 2px;
    border-bottom: 1px solid black;
    margin: 3%;
    width: 40vw;
    /* border: 2px solid green; */
}

.enter :focus{
    border-bottom: 3px solid red;
    position: relative;
    width: 100%;
    bottom: -1px;
    left: 0px;
    transition: all 0.4s ease-in-out;
}

#btn{
    background-color: white;
    border-radius: 12px;
    width: 20vw;
    outline: none;
    transition: all 0.7s ease-in-out;
}

#btn:hover{
    transition: all 0.7s ease-in-out;
    transform: translateY(-4px);
    cursor: pointer;
}

#btn:active{
    color: white; 
    background-color: transparent; 
}

h4{
    padding: 3%;
}

#contact-section{
    color: white;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, black, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#sm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm-internal{
    margin: 3%;
    cursor: pointer;
}

#facebook{
    height: 30px;
    width: 30px;
    background: url("images/facebook.png") no-repeat;
    background-size: cover;
    background-position: center;
    /* filter: invert(1); */

}

#insta{
    height: 30px;
    width: 30px;
    background: url("images/instagram-sketched.png") no-repeat;
    background-size: cover;
    background-position: center;
    /* filter: invert(1); */
}

#twitter{
    height: 30px;
    width: 30px;
    background: url("images/twitter.png") no-repeat;
    background-size: cover;
    background-position: center;
    /* filter: invert(1); */
}

#linked{
    height: 30px;
    width: 30px;
    background: url("images/linkedin.png") no-repeat;
    background-size: cover;
    background-position: center;
    filter: invert(1);
}
#git{
    height: 30px;
    width: 30px;
    background: url("images/GitHub-Mark-64px.png") no-repeat;
    background-size: cover;
    background-position: center;
    filter: invert(1);
}

@media only screen and (max-width:1030px){

    .skill, .project{
        width: 40vw;
    }
    .skill-head, .project-head{
        width: 40vw;
    }
    .skill-head:hover{
        transition: all 2s ease-in-out;
        transform: translateY(-300px);
    }

    .project-head:hover{
        transform: translateX(-40vw);
    }
    
    #project-head:hover{
        transform: translateX(40vw);
    }
}

@media only screen and (max-width:500px){

    #image-internal {
        margin: 0 30px;
        width: 84vw;
        height: 48vh;
        background-size: contain;
        border-radius: 50%;
    }
    .img{
        padding: 0;
        height: 50px;
        width: 100px;
    }
    #logo>p{
        font-size: 1.1rem;
    }

    h2{
        font-size: 1.5rem;
        padding: 4%;
    }

    #nav{
        /* display: flex; */
        flex-direction: column;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.473);
        /* height: unset; */
    }

    #ham{
        display: block;
        position: absolute;
        right: 8px;
        height: 20px;
        width: 20px;
    }


    #ul{
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        margin: 0;
        padding: 0;
        display: none;
    }

    #cross{
        margin-top: 5%; ;
        display: none;
        position: absolute;
        right: 8px;
        height: 20px;
        width: 20px;
    }

    .hey{
        text-align: center;
        flex-direction: column;
    }
    #text{
        padding:10% 0;
    }

    .align{
        flex-direction: column;
    }

    #head{
        font-size: 1.3rem;
    }
    #exp{
        padding: 3%;
        text-align: center;
    }
    #skills, #project{
        flex-direction: column;
    }
    .skill-head:hover{
        transition: all 2s ease-in-out;
        transform: translateY(-220px);
    }
    #local-para,#analyzer-para, #bg-para, #web-para, #java-para, #py-para {
        padding: 3%;
        font-size: 0.9rem;
    }
    .skill, .skill-head, .project, .project-head{
        width: 60vw;
    }
    
.project-head:hover{
    transform: translateX(-60vw);
}

#project-head:hover{
    transform: translateX(60vw);
}
h4{
    padding: 10% 3%;
}

.sm-internal{
    padding: 0 4%;
}
    
}